@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

:root {
    --az-petroleo: #0A202D;
    --site-cor: #ebeef6;
    --laranja: #DE9755;
    --az-claro: #DE9755;
    --marrom: #6F6148;
    --preto: #000;
    --az-agua: #5bc0de;
    --laranja: #ed9c28;
    --vermelho: #d2322d;
    --branco: #FFF;

    --main-color: #ebeef6;
    --site-color: #3a7afe;
    --active-color: #d4def7;
    --bg-color: #ecedf0;
    --second-color: #f1f1f1;
    --third-color: #9fa7bd;
    --main-bg-color: #192039;
    --second-br-color: #1e2746;
    --third-br-color: #3a7afe;
    --fourth-br-color: #131b138;
    --primary-color: #0088cc;
    --success-color: #47a447;
    --info-color: #5bc0de;
    --warning-color: #ed9c28;
    --danger-color: #d2322d;    
}


header {
    background-color: var(--az-petroleo);
    color: var(--site-cor);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 130px;
    height: auto;
}

header span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

header span p {
    font-size: 1.5rem; 
    font-weight: bold;
    color: var(--branco); 
    text-shadow: 
        -0.25mm -0.25mm 0 var(--preto),  
         0.25mm -0.25mm 0 var(--preto),
        -0.25mm  0.25mm 0 var(--preto),
         0.25mm  0.25mm 0 var(--preto);
}

/* Estilos do container do site */
main {
    padding: 20px;
    display: flex;
}

.conteudo-section {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.conteudo-section h3{
 font-family: Ubuntu;
 font-size: 14px;
 font-weight: bold;
 text-align: center;
}


/* Estilos do rodapé */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--az-agua);
    color: var(--site-cor);
    padding: 10px 20px;
    text-align: center;
    border-top: 0.25rem solid var(--az-petroleo);
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: var(--site-cor);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do formulário de login */
.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-login {
    width: 400px;
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

.wrapper-login {
    width: 90%;
    margin: auto;
    background-color: var(--second-color);
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 1);
}

.wrapper-login .title {
    height: 90px;
    background-color: var(--main-bg-color);
    border-radius: 5px 5px 0px 0px;
    color: var(--main-color);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-login .form-login {
    padding: 25px;
}

.wrapper-login .form-login .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper-login .form-login .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid var(--active-color);
    font-size: 16px;
    transition: all 0.3s ease;
}

.form-login .row input::placeholder {
    color: var(--third-color);
}

.wrapper-login .form-login .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: var(--main-color);
    font-size: 18px;
    background-color: var(--second-bgcolor);
    border: 1px solid var(--active-color);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-login .form-login .button input {
    color: var(--main-color);
    font-size: 20px;
    background-color: var(--main-bg-color);
    font-weight: 300;
    padding-left: 0;
    border: 1px solid var(--active-color);
    cursor: pointer;
}

.form-login .button input:hover {
    background: var(--second-br-color);
}

.wrapper-login .form-login .signup-link a {
    color: var(--main-bg-color);
    text-decoration: none;
}

.form-login .signup-link a:hover {
    color: var(--site-bg-color);
    text-decoration: none;
}



.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  
  .card > hr {
    margin-right: 0;
    margin-left: 0;
  }
  
  .card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
  }
  
  .card > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card > .list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card > .card-header + .list-group,
  .card > .list-group + .card-footer {
    border-top: 0;
  }
  
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  .card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  
  .card-link + .card-link {
    margin-left: 1.25rem;
  }
  
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  
  .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }
  
  .card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
  }
  
  .card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    border-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card-deck .card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-deck {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    .card-deck .card {
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
  
  .card-group > .card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-group {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
    }
    .card-group > .card {
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      margin-bottom: 0;
    }
    .card-group > .card + .card {
      margin-left: 0;
      border-left: 0;
    }
    .card-group > .card:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-top,
    .card-group > .card:not(:last-child) .card-header {
      border-top-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-bottom,
    .card-group > .card:not(:last-child) .card-footer {
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-top,
    .card-group > .card:not(:first-child) .card-header {
      border-top-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-bottom,
    .card-group > .card:not(:first-child) .card-footer {
      border-bottom-left-radius: 0;
    }
  }
  
  .card-columns .card {
    margin-bottom: 0.75rem;
  }
  
  @media (min-width: 576px) {
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
    }
    .card-columns .card {
      display: inline-block;
      width: 100%;
    }
  }

  button {
    border-radius: 0;
  }
  
  button:focus:not(:focus-visible) {
    outline: 0;
  }
  
  input,
  button,
  select,
  optgroup,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  button,
  input {
    overflow: visible;
  }
  
  button,
  select {
    text-transform: none;
  }
  
  [role="button"] {
    cursor: pointer;
  }
  
  select {
    word-wrap: normal;
  }
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    cursor: pointer;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=password], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=e-mail], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .container-form {
    width: 100%;
    max-width: 900px; /* Limitar a largura a 900px */
    margin: 0 auto; /* Centralizar horizontalmente */
    padding: 20px; /* Adicionar preenchimento opcional */
    box-sizing: border-box; /* Garantir que o preenchimento não afete a largura total */
}

  /*
  .container-form {
    
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 600px;
    border: 2px solid var(--az-petroleo);
    border-radius: 5px;
  }
  */
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: right;
  }
  

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ubuntu", "sans-serif";
}

:root{
    --main-color: #ebeef6;
    --site-color: #3a7afe;
    --active-color: #d4def7;
    --bg-color: #ecedf0;
    --second-color: #f1f1f1;
    --third-color: #9fa7bd;
    --main-bg-color: #192039;
    --second-br-color: #1e2746;
    --third-br-color: #3a7afe;
    --fourth-br-color: #131b138;
    --primary-color: #0088cc;
    --success-color: #47a447;
    --info-color: #5bc0de;
    --warning-color: #ed9c28;
    --danger-color: #d2322d;
}
    
body {
    background-color: var(--main-color);
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-login{
    width: 400px;
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

.wrapper-login{
    width: 90%;
    margin: auto;
    background-color: var(--second-color);
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,1);
}

.wrapper-login .title{
    height: 90px;
    background-color: var(--main-bg-color);
    border-radius: 5px 5px 0px 0px;
    color: var(--main-color);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-login .form-login{
    padding: 25px;
}

.wrapper-login .form-login .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper-login .form-login .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid var(--active-color);
    font-size: 16px;
    transition: all 0.3s ease;
}

/* personalizar o placeholder */

.form-login .row input::placeholder{
    color: var(--third-color);
}

/* Personalizando os icones */
.wrapper-login .form-login .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: var(--main-color);
    font-size: 18px;
    background-color: var(--second-bgcolor);
    border: 1px solid var(--active-color);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* personalizando o botao */
.wrapper-login .form-login .button input {
 color: var(--main-color);
 font-size: 20px;
 background-color: var(--main-bg-color);
 font-weight: 300;
 padding-left: 0;
 border: 1px solid var(--active-color);
 cursor: pointer;
}

.form-login .button input::hover {
    background: var(--second-br-color);
}

.wrapper-login .form-login .signup-link a {
    color: var(--main-bg-color);
    text-decoration: none;
}

.form-login .signup-link a::hover {
    color: var(--site-bg-color);
    text-decoration: none;
}